<%- include("partials/header") %>

<h1 class="text-danger">Something went wrong!</h1>

<p><%= err.message %></p>

<pre><%= err.stack %></pre>

<a href="/" class="btn btn-primary">Go Home</a>

<%- include("./partials/footer") %>
